<% if @message.errors.any? %>
 <div class="card text-center text-white bg-danger mb-3">
  <%= @message.errors.count %>件のエラーが発生しました
  <% @message.errors.full_messages.each do |message| %>
  <%= message %>
  <% end %>
 </div>
<% end %>