<div class="cover align-middle">
  <div class="text-center">
   <meta name="viewport" content="width=device-width,initial-scale=1.0>
    <p class="sub-title">〜直売所がすぐそこに〜</p>
    <h2 class="title mb-2">みのりつながる</h2>
     <%= link_to new_user_registration_path, class: "btn-flat-simple" do %>
      <i class="fa fa-caret-right"></i> 新規登録
     <% end %>
    
     <%= link_to new_user_session_path, class: "btn-flat-simple" do %>
       <i class="fa fa-caret-right"></i> ログイン
     <% end %>
  </div>
</div>