<div class="cover">
  <div class="text-center content-wrapper">
    
    <p class="sub-title">〜新鮮な農産物がすぐそこに〜</p>
    <h2 class="title mb-2">みのりつながる</h2>

    <div class="button-group">
      <%= link_to new_user_registration_path, class: "btn-flat-simple" do %>
        <i class="fa fa-caret-right"></i> 新規登録
      <% end %>

      <%= link_to new_user_session_path, class: "btn-flat-simple" do %>
        <i class="fa fa-caret-right"></i> ログイン
      <% end %>
    </div>
  </div>
</div>
