<div class="container mt-5">
  <h2>新しいチャットルームが作成されました！</h2>

  <div class="mt-4">
    <p>新しいメッセージルームが作成されました。これで他のユーザーとメッセージのやりとりができます。</p>
    <%= link_to 'ルームへ移動', room_path(@room), class: 'btn btn-primary' %>
  </div>
</div>