/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
 @import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Shippori+Mincho&display=swap');
 
 body {
  font-family: 'Kaisei Opti', serif; /* お好みのフォントを指定 */
  background-color: rgba(232, 236, 229, 0.4);  
}


html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 横方向の余白を隠す */
}



 .header {
  display: flex;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgb(86, 129, 126);
  font-family: 'Kaisei Opti', serif;
  color: white;
  justify-content: space-between;
  max-width: 100%;
  flex-wrap: wrap;
  min-height: 100px;
}

.container, .cover  {
  width: 100%;
  padding: 0;
  margin: 0
}


.header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap; 
}

.header__logo img {
  height: 80px;
  width: auto; 
  object-fit: contain; 
}
 

.menu__list {
  font-size: 1.5rem;
  flex-wrap: nowrap;
}

.header__logo{
  logo-image: image-url("top_background.png")
}


/* パソコンサイズ用のCSS  */
@media screen and (min-width:1096px) {
  .menu__list {
    display: flex;
    font-size: 1.5rem;
   }
 

 .menu__link {
   position: relative;
   margin-left: 30px;
   padding: 10px 0;
   align-items: center;
   display: flex;
  }

  .menu__link:last-child {
    margin-right: 30px;
  }
    
  .menu__item {
    list-style: none; 
    margin: 0 20px;
  }

  .menu__item:hover {
    color: rgb(65, 100, 100);
  }
    
  .header__menu-btn {
     display: none;
  }
  
  .header__inner.active {
    display: block; /* メニューを表示する */
  }


}

/* スマートフォン、タブレットサイズ用のCSS */
@media screen and (max-width:1096px) {

  
  .container {
      overflow: hidden;
  }
  .header {
      width: 100%; 
      position: fixed;
      background: rgb(86, 129, 126);
      height: 100px;
  }
  .header__inner {
      position: relative;
      z-index: 10;
  }
  .header__logo {
      margin-left: 10px;
      height: auto; /* ロゴの高さ */
      width: auto; /* アスペクト比を維持 */
      object-fit: contain; /* 画像を枠内に収める */  
  }
  .header__logo img {
    width: 100%; /* アスペクト比を維持 */
    max-width: 100%; /* 親要素を超えないように */
  }
  .header__menu {
      position: fixed;
      z-index: 5;
      top: 80px;
      width: 100%;
      height: calc(100vh - 50px);
      background: rgb(86, 129, 126);
      opacity: 0;
      visibility: hidden;
      transition: opacity .2s ease;
      height: auto; /* 高さを自動調整 */
      padding: 10px 0; /* 上下の余白を追加（調整可能） */
  }
  .header__inner.active .header__menu {
      opacity: 1;
      visibility: visible
  }
  .menu__list {
      border-top: 1px solid #d7d7d7;
      width: 90%; /* ボーダーの幅を80%に制限 */
      margin: 0 auto; /* 左右中央揃え */
      font-size: 1.5rem
  }
  .menu__item {
      border-bottom: 1px solid #d7d7d7;
      list-style: none;
      width: 100%; /* メニュー項目の幅も同様に調整 */
      margin: 0 auto; /* 左右中央揃え */
      padding: 5px 0; /* 適度な上下の余白 */
  }

  .menu__item:last-child {
    display: none ;
  }

  .menu__link {
      display: block;
      padding: 13px 10px;
      color:  #d7d7d7;
  }
  .header__menu-btn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: end;
      width: 50px;
      height: 50px;
      padding: 5px;
      cursor: pointer;
  }
  .header__menu-btn span:nth-child(-n+3) {
      position: absolute;
      display: block;
      width: 30px;
      height: 2px;
      background:  #d7d7d7;
  }
  .header__menu-btn span:nth-child(1) {
      top: 10px;
      transition: all .2s ease;
  }
  .header__inner.active .header__menu-btn span:nth-child(1) {
      top: 20px;
      transform: rotate(45deg);
  }
  .header__menu-btn span:nth-child(2) {
      top: 18px;
      transition: opacity .2s ease;
  }
  .header__inner.active .header__menu-btn span:nth-child(2) {
      opacity: 0;
  }
  .header__menu-btn span:nth-child(3) {
      top: 26px;
      transition: all .2s ease;
  }
  .header__inner.active .header__menu-btn span:nth-child(3) {
      top: 20px;
      transform: rotate(-45deg);
  }
  .header__menu-btn span:nth-child(4) {
      font-size: 10px;
      color:  #d7d7d7;
  }
}



@media screen and (max-width: 768px) {
    .menu__list {
        font-size: 1rem;
    }
  }