@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Shippori+Mincho&display=swap');
.title {
    font-family: 'Kaisei Opti', serif;
    font-size: 9rem;
    text-emphasis-color: white;
    color: white;
  }
  
  .sub-title {
    font-family: 'Kaisei Opti', serif;
    font-size: 4rem;
    color: white;
  }
  
 
  .cover {
    height: 100%;
    width: 100%;
    display: table;
    align-items: center;
    background-image: url(top_background.png);
    background-color: rgb(86, 129, 126);
    background-blend-mode:lighten;
    background-size: 50%; /* 画面いっぱいに広げる */
    background-position: center center; /* 中央配置 */
    background-repeat: no-repeat; /* 繰り返しなし */
  }


  .text-center {
    display: table-cell;
    vertical-align: middle;
  }

  .button-group {
    display: flex;
    gap: 30px; /* ボタンの間隔を20pxに */
    justify-content: center; /* 中央揃え */
   }

  .btn-flat-simple {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    background: #00bcd4;
    transition: .4s;
  }
  
  .btn-flat-simple:hover {
    background: #ECECEC;
    color: #00BCD4;
  }


  @media screen and (max-width:1043px) {
    .title {
      font-size: 5rem;
      padding: 0 10px;
  }

  .sub-title {
    font-size: 3rem;
  }

  .btn-flat-simple {
    font-size: 1.5rem;
    padding: 0.5em 1em;
  }

  .button-group {
    gap: 10px; /* ボタンの間隔を20pxに */
   }
  }

  @media screen and (max-width: 768px) { 
    .title {
        font-size: 3rem;
        padding: 0 10px;
    }

    .sub-title {
      font-size: 1.5rem;
    }

    .btn-flat-simple {
      font-size: 1rem;
      padding: 0.5em 1em;
    }

    .button-group {
      gap: 10px; /* ボタンの間隔を20pxに */
     }
  
 }

 