@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Shippori+Mincho&display=swap');


.cover-new {
  height: 100%;
  width: 100%;
  background-blend-mode: lighten;
  background-size: 100% 100%;
}


.btn.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: rgb(86, 129, 126);
  border: solid 2px rgb(86, 129, 126);
  border-radius: 3px;
  transition: .4s;
}

.btn.btn-flat-border:hover {
  background: rgb(86, 129, 126);
  color: white;
}

.cover-index {
  height: 100%;
  width: 100%;
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

.one-post img:hover {
  transform: scale(1.2,1.2);
}

.caption {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
}

.index-left {
  margin-left: 2.5rem;
}

.center-form {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.row .mt-5 {
  width: 100%;
  flex-wrap: wrap; /* 横幅が足りない場合に折り返し */
  justify-content: center; /* 中央揃え */
  align-items: flex-start; /* アイテムを上揃え */
  gap: 20px; /* アイテム間の間隔を追加 */
}

.search-form-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  
.search-form-4 .form-group{
  width: 60%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px; /* 最大幅を500pxに設定 */
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;  /* paddingを幅に含める */
  font-size: 1.5rem;
}

.search-form-4 .btn {
  margin-bottom: 10px; /* ボタンの間隔を調整 */
  
}

.cover-show {
  height: 100%;
  width: 100%;
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

.comments {
  margin-left: 5rem; /* 左側の余白 */
  margin-top: 5rem;  /* 上側の余白 */
  width: 80%;        /* コンテンツ幅を調整 */
}


h1{
  color: rgb(86, 129, 126);/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px rgb(86, 129, 126);/*上線*/
  border-bottom: solid 3px rgb(86, 129, 126);/*下線*/
  font-weight: bold; /* 太文字 */
}

.btn.btn-primary {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: white;
  background: rgb(98, 103, 127);
  border: solid 2px rgb(98, 103, 127);
  border-radius: 3px;
  transition: .4s;
}

.btn.btn-primary:hover {
  background: white;
  color: rgb(98, 103, 127);
}


.container-fluid d-flex mt-5{
  display: flex;
  width: 100vw; 
  justify-content: center; /* 水平方向の中央揃え */
  align-items: flex-start; /* 垂直方向の中央揃え */
  margin: 0;
}


.row .mt-5 {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* 横幅が足りない場合、折り返し */
  justify-content: center; /* 水平方向の中央揃え */
  align-items: flex-start; /* 垂直方向の中央揃え */
  margin-left: 0;
  margin-right: 0;
}




.one-post {
  display: flex;
  justify-content: center; /* コンテンツを中央に配置 */
  align-items: center; /* コンテンツを縦にも中央に配置 */
  margin-bottom: 4rem; /* 少し下の余白 */
  font-size: 1.5rem;
  text-align: center;
}




.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* 水平中央揃え */
}

.btn.btn-success{
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: white;
  background: rgb(98, 103, 127);
  border: solid 2px rgb(98, 103, 127);
  border-radius: 3px;
  transition: .4s;
}

.btn.btn-success:hover {
  background: white;
  color: rgb(98, 103, 127);
} 

.btn {
  font-size: 1.5rem;
}

.form-group .btn {
  height: 40px; /* ボタンの最小高さを指定 */
  padding: 10px 20px; /* 内側の余白を適切に調整 */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.comments h2 {
  font-size: 2rem;
  width: 100%;
}

.comments p {
  font-size: 1.5rem;
}
.comments-index{
  font-size: 1.5rem;
}


.container-fluid .form-label {
  font-size: 2rem;
}

.form-post {
  width: 700px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 10px;
}



@media screen and (max-width:1043px) {

  .one-post {
    width: calc(100% / 3 - 10px); /* 3列に並べる */
    margin: 3px; /* 少し余白をつける */
    display: flex;
    flex-direction: column;
  }

  .caption {

    font-size: 1.25rem;
  }
  .post.image {
    width: 70%;
    height: auto;
  }

  .font-weight-normal {
    position: relative; /* 他の要素と独立させる */
    z-index: 5; /* 必要に応じて優先順位を変更 */
    margin-top: 100px !important; /* 上部に余白を確保 */
  
  }

  .search-form-4 .form-group {
    width: 50%;
    margin-bottom: 4px;
    padding: 7px;
    font-size: 1rem;
  }
  


  .image-container {
    margin-right: 0px; /* 画像と詳細の間隔 */
    width: 70%;
  }

  .comments h2 {
    font-size: 1.5rem;
  }
  
  .comments p {
    font-size: 1rem;
  }
  .comments-index{
    font-size: 1rem;
  }

  .form-group {
    width: 100%;
    padding: 0 1rem;
 
  }
  
  .form-control, .form-control-file, .custom-select {
    width: 100%;
  }
  


  .container-fluid .form-label {
    font-size: 1.5rem;
  }

  .form-group .btn {
    height: 50%
  }

  .btn {
    font-size: 0.7rem;
  }
  

  .form-control {
    width: 100%; 
    margin: 0 auto; 
    padding-left: 40px; 
  }

}


@media screen and (max-width: 768px) {
  .one-post {
    width: calc(100% / 3 - 10px); /* 3列に並べる */
    margin: 1px; /* 少し余白をつける */
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }

  .attachment.post.image {
    width: 60%;
    height: auto;
  }

.comments {
  margin-left: 1rem; /* スマホで左の余白を減らす */
  margin-right: 1rem; /* スマホで上の余白を大幅に増やす */
  width: 100%;        /* スマホ画面に合わせて幅を調整 */
}

.font-weight-normal {
  position: relative; /* 他の要素と独立させる */
  z-index: 5; /* 必要に応じて優先順位を変更 */
  margin-top: 80px !important; /* 上部に余白を確保 */

}

.image-container {
  margin-right: 0px; /* 画像と詳細の間隔 */
  width: 50%;
}

.comments h2 {
  font-size: 1.25rem;
}

.comments p,a.btn{
  font-size: 0.7rem;
}
.comments-index{
  font-size: 0.7rem;
}

.search-form-4 .form-group {
  width: 50%;
  margin-bottom: 2px;
  padding: 3px;
  font-size: 1rem;
}


.form-control, .form-control-file, .custom-select {
  width: 100%;
}



.container-fluid .form-label {
  font-size: 1rem;
}

  .row .form-post {
    width: 100%
  }
}

