@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Shippori+Mincho&display=swap');


.cover-new {
  height: 100%;
  width: 100%;
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

.form-label {
  font-size: 20px;
}

.form-group {
  width: 600px;
}

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: rgb(86, 129, 126);
  border: solid 2px rgb(86, 129, 126);
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: rgb(86, 129, 126);
  color: white;
}

.cover-index {
  height: 100%;
  width: 100%;
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

.one-post img:hover {
  transform: scale(1.2,1.2);
}

.caption {
  color: black;
  font-size: 100%;
  text-decoration: none;
}

.index-left {
  margin-left: 2.5rem;
}

.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}


.search-form-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px; /* フォームの最大幅を設定 */
}

.search-form-4 .form-group {
  width: 100%;
  margin-bottom: 15px;
}

.search-form-4 .form-control {
  width: 100%;
  padding: 10px;
}

.search-form-4 .btn {
  margin-bottom: 10px; /* ボタンの間隔を調整 */
  
}

.cover-show {
  height: 100%;
  width: 100%;
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

.comments {
  margin-left: 5rem; /* 左側の余白 */
  margin-top: 5rem;  /* 上側の余白 */
  width: 80%;        /* コンテンツ幅を調整 */
}


h1{
  color: rgb(86, 129, 126);/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px rgb(86, 129, 126);/*上線*/
  border-bottom: solid 3px rgb(86, 129, 126);/*下線*/
  font-weight: bold; /* 太文字 */
}

.btn-primary {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: white;
  background: rgb(98, 103, 127);
  border: solid 2px rgb(98, 103, 127);
  border-radius: 3px;
  transition: .4s;
}

.btn-primary:hover {
  background: white;
  color: rgb(98, 103, 127);
}


.container-fluid d-flex mt-5{
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: flex-start;; /* 垂直方向の中央揃え */
  margin-left: 0;
  margin-right: 0;/* 縦方向の中央揃え */
}


.row mt-5 {
  display: flex;
  flex-wrap: wrap; /* 横幅が足りない場合、折り返し */
  justify-content: center; /* 水平方向の中央揃え */
  align-items: flex-start;; /* 垂直方向の中央揃え */
  margin-left: 0;
  margin-right: 0;
}

.one-post {
  display: flex;
  justify-content: center; /* コンテンツを中央に配置 */
  align-items: center; /* コンテンツを縦にも中央に配置 */
  margin-bottom: 4rem; /* 少し下の余白 */
  font-size: 1.5rem;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* 水平中央揃え */
}

.btn-success{
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: white;
  background: rgb(98, 103, 127);
  border: solid 2px rgb(98, 103, 127);
  border-radius: 3px;
  transition: .4s;
}

.btn-success:hover {
  background: white;
  color: rgb(98, 103, 127);
}

.image-container {
  margin-right: 50px; /* 画像と詳細の間隔 */
}


@media screen and (max-width:1043px) {

  .one-post {
    width: calc(100% / 3 - 10px); /* 3列に並べる */
    margin: 3px; /* 少し余白をつける */
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
  }

  .post.image {
    width: 70%;
    height: auto;
  }

  .font-weight-normal {
    position: relative; /* 他の要素と独立させる */
    z-index: 5; /* 必要に応じて優先順位を変更 */
    margin-top: 100px !important; /* 上部に余白を確保 */
  
  }

  .search-form-4 .form-group {
    width: 70%;
    margin-bottom: 4px;
  }
  
  .search-form-4 .form-control {
    width: 70%;
    padding: 7px;
  }

  .image-container {
    margin-right: 0px; /* 画像と詳細の間隔 */
    width: 70%;
  }
}


@media screen and (max-width: 768px) {
  .one-post {
    width: calc(100% / 3 - 10px); /* 3列に並べる */
    margin: 1px; /* 少し余白をつける */
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }

  .attachment.post.image {
    width: 60%;
    height: auto;
  }

.comments {
  margin-left: 1rem; /* スマホで左の余白を減らす */
  margin-right: 1rem; /* スマホで上の余白を大幅に増やす */
  width: 100%;        /* スマホ画面に合わせて幅を調整 */
}

.font-weight-normal {
  position: relative; /* 他の要素と独立させる */
  z-index: 5; /* 必要に応じて優先順位を変更 */
  margin-top: 80px !important; /* 上部に余白を確保 */

}

.image-container {
  margin-right: 0px; /* 画像と詳細の間隔 */
  width: 50%;
}
}

