.bg {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* コンテナ */
.box {
  width: 500px;
  height: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* 内部ボックス */
.box-inner {
  padding: 40px;

}

/* 見出し */
h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold; /* 太文字 */
}

/* 入力フォームエリア */
.box-email, .box-password {
  margin-bottom: 20px;
}

.box-email input, .box-password input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.box-password .a-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-left {
  flex: 1;
}

.column-right {
  flex: 1;
  text-align: right;
}

/* ボタン */
.box-login {
  margin-top: 20px;
  text-align: center;
}

.box-login input[type="submit"] {
  background-color: rgb(86, 129, 126);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.box-login input[type="submit"]:hover {
  background-color: rgb(86, 129, 126);
}

/* チェックボックスラベル */
.remember {
  display: flex;
  align-items: center;
  justify-content: center;
}

.remember input {
  margin-right: 10px;
}

/* 新規登録リンク */
.box-newusr {
  text-align: center;
  margin-top: 20px;
}

.box-newusr p {
  font-size: 14px;
}

.box-newusr span {
  font-weight: bold;
}

.box-newusr a {
  color: rgb(86, 129, 126);
  text-decoration: none;
}

.box-newusr a:hover {
  text-decoration: underline;
}

/* タブインジケータ */
.tabs .indicator {
  background-color: #e0f2f1;
  height: 60px;
  opacity: 0.3;
}

/* フォームラベル */
.form-label {
  font-size: 20px;
}

.form-group {
  width: 100%;
}

/* その他 */
h5 {
  font-weight: 400;
}

.confirmation-tabs-btn {
  position: absolute;
}