.cover-user-show {
    height: 100%;
    width: 100%;
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.cover-user-index {
    height: 100%;
    width: 100%;
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.cover-user-edit {
    height: 100%;
    width: 100%;
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.profile {
    padding: 15px;
}

.index-left h2 {
    color: #505050; /* テキストの色 */
    background: #dbebf8; /* 背景色 */
    padding: 0.5em; /* 余白 */
    border-radius: 25px 0px 0px 25px; /* 左側の角を丸く */
}
  
.index-left h2:before {
    content: '●';
    color: white;
    margin-right: 8px;
  }
 